@media screen and (min-width: 480px) {
  .left, 
  .left-2, 
  .left-3,
  .left-4,
  .left-5,
  .left-6,
  .left-7 {
    padding: 2px;
  }
  
  .right,
  .right-2,
  .right-3,
  .right-4,
  .right-5,
  .right-6 {
    padding: 2px;
  }

}

@media screen and (min-width: 660px) {
  .left, 
  .left-2, 
  .left-3,
  .left-4,
  .left-5,
  .left-6,
  .left-7 {
    float: left;
    max-width: 45%;
    position: relative;
    display: block; 
  }

  .right,
  .right-2,
  .right-3,
  .right-4,
  .right-5,
  .right-6 {
    float: right;
    max-width: 45%;
    position: relative;
    display: block;
  }
  
  .gallery-page {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
  }
  
  nav li {
    padding-top: 2px;
  }
  
  .left-column {
    float: left; 
    width: 45%;
  }
  
  .right-column {
    float: right;
    width: 45%;
  }
  
  .ladiesnames, div h2 {
    text-align: center;
  }
  
  .ladiesnames {
    font-size: 20px;
  }
  
  .mennames {
    text-align: center;
    font-size: 20px;
  }

}

@media screen and (min-width: 780px) {
  nav li {
      border-right: solid 3px white;
  }
}